@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));;
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #161f30;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #111827;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #202c42;
}

.boostCard:hover .boostPathOne{
  fill: #ECEFF1;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.boostCard:hover .boostPathTwo{
  fill: #FF4DA5;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.vanilla-blur {
  backdrop-filter: blur(4px);
}
.boostCard:hover .boostCardIn{
  top: 0;
  left: 0;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.boostCard:hover span{
  color: white;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.boostCard{
  box-shadow: 0px 0px 25px 2px rgba(236, 72, 153, 1);
}
.cardIcon{
   font-size: 20px;
}
.card:hover .cardIcon{
  color: white;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover .cardIn{
  top: 0;
  left: 0;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover span{
  color: white;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.memcard{
  box-shadow: 0px 0px 25px 2px rgba(251, 191, 36, 1);
}
.totalcard{
  box-shadow: 0px 0px 25px 2px rgba(191, 219, 254, 1);
}
.botcard{
  box-shadow: 0px 0px 25px 2px rgba(110, 231, 183, 1);
}
.rolecard{
  box-shadow: 0px 0px 25px 2px rgba(139, 92, 246, 1);
}
.categorycard{
  box-shadow: 0px 0px 25px 2px rgba(139, 92, 246, 1);
}
.ownercard{
  box-shadow: 0px 0px 25px 2px rgba(185, 28, 28, 1);
}